<form (ngSubmit)="f.form.valid && agregarValor()" #f="ngForm">
  <div class="agregar">
    <div class="agregar_contenedor">
      <select [ngClass]="{redfocus:tipo==='Egreso'}" 
      (change)="tipoOperacion($event)" class="agregar_tipo">
        <option value="Ingreso" selected>+</option>
        <option value="Egreso">-</option>
      </select>
      <input [ngClass]="{redfocus:tipo==='Egreso'}"
        type="text"
        class="agregar_descripcion"
        placeholder="Agregar Descripción"
        name="descripcionInput"
        [(ngModel)]="descripcionInput"
        required
      />
      <input [ngClass]="{redfocus:tipo==='Egreso'}" type="number" 
      class="agregar_valor" 
      placeholder="Valor" 
      name="valorInput"
        [(ngModel)]="valorInput"
        required
      />
      <button class="agregar_btn" type="submit">
        <i class="ion-ios-checkmark-outline" [ngClass]="{red:tipo==='Egreso'}"></i>
      </button>
    </div>
  </div>
</form>
